.template-admin {
    display: flex;
    flex-direction: row;
}

.template-admin .admin-sidebar{
    width: 250px;
    height: 100vh;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.template-admin .admin-sidebar.close{
    width: 70px;
    padding: 0 5px;
}

.template-admin .admin-sidebar .wrap-sidebar{
    width: 100%;
    height: 100%;
}



.template-admin .admin-sidebar .wrap-sidebar .bg-white{
    position: relative;
    height: 100%;
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-sidebar ul li{
    margin-bottom: 3px;
    overflow: hidden;
}

.admin-sidebar ul li.active a,
.admin-sidebar ul li:hover a{
    background: #ebebef;
    color: #161617 !important;
}

.admin-sidebar ul li a{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding: 0.85em;
    border-radius: .5em;
}

.admin-sidebar ul li a svg{
    flex-shrink: 0;
    fill: #333333;
    transition: all 300ms ease-in-out;
}

.admin-sidebar ul li span{
    font-size: 1.2em;
    font-weight: 500;
    text-wrap: nowrap;
}

.admin-sidebar *{
    vertical-align: middle;
}

.template-admin .admin-content,
.template-admin .admin-content .admin-container {
    width: 100%;
}

.template-admin .admin-content .admin-container{
    height: calc(100vh - 60px);
    overflow-x: auto;
}

.admin-content .head-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin-content #show-btn-admin,
.admin-content #btn-account {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.admin-content #btn-account{
    padding: 5px;
    display: flex;
    position: relative;
}

.admin-content #show-btn-admin:hover{
    background: #ebebef;
}

.template-admin .admin-content .bg-white{
    border-radius: 0;
    padding: 11px;
}

.admin-content .admin-account{
    position: relative;
}

.admin-content #btn-account .box-icon{
    flex:  0 0 25px;
    width: 25px;
}

.admin-content #btn-account .box-text{
    font-size: 16px;
}

.admin-content #btn-account .box-icon i {
    max-width: 100%;
    vertical-align: center;
    font-size: 18px;
}

.admin-content #btn-account .box-arrow{
    width: 21px;
    height: 15px;
    position: absolute;
    bottom: -8px;
    left: 7px;
    z-index: 99;
}

.admin-content #btn-account .box-arrow svg{
    fill: #161617 !important;
    stroke: #161617 !important;
}

.admin-content .admin-dropdown-container{
    width: 150px;
    position: absolute;
    top: calc(100% + 5px);
    left: auto;
    z-index: 100;
    right: -5px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.admin-content .admin-dropdown-container .dropdown-content{
    padding: 5px;
}

.admin-content #admin-btn-logout{
    width: 100%;
    background: none;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    border-radius: 5px;
}

.admin-content #admin-btn-logout:hover{
    background: #ebebef;
}

.admin-content .admin-account .box-arrow,
.admin-content .admin-account .admin-dropdown-container{
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 300ms ease-in-out;
}

.admin-content .admin-account.active .box-arrow,
.admin-content .admin-account.active .admin-dropdown-container{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.admin-container .wrapper{
    padding-top: 15px;
}

.admin-container .bg-color-white{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.admin-container .container,
.admin-container .container .wrapper,
.admin-container .container .wrapper .bg-color-white{
    height: 100%;
}

.box-data .head-table-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-data a.btn-primary{
    background: none;
    /*outline: 1px solid #333333;*/
    color: #161617;
}

.box-data a.btn-primary:hover{
    background: #737373;
    color: #ffffff !important;

}

.box-data table th{
    /*padding: 10px;*/
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.box-data table tr th{
border-bottom: 1px solid #333333;
}

.box-data table tr td{
    border-top: 1px solid #ebebef;
}

.box-data table tr:last-child{
    border-bottom: 1px solid #ebebef;
}

.box-data table tr td.text-center{
    white-space: nowrap;
}

.box-data table tr td.text-center .btn{
    padding: 5px 10px;
}

.box-data table tr td .row-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-table{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
}
.search-table .input-group{
    width: 350px;
}

.pagination{

    padding-top: 20px;

}

.pagination button{
    display: inline-block;
    padding: .5em .75em;
    text-decoration: none;
    background-color: #fff;
    color: #6b7280;
    cursor: pointer;
    border:1px solid #d1d5dbe5;
    margin-right: -1px;
    line-height: 1.25;
}

.pagination button.prev{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination button.active{
    font-weight: 700;
    background-color: #cccccc;
}

.pagination button.prev:disabled,
.pagination button.next:disabled{
    background-color: #f7f7f7;
    color: #7b7b7b;
    cursor: auto;
}

.pagination button.next{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* edit modal product*/
.modal-edit-admin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)  translateY(-50%);
    z-index: 300;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    width: 100%;
    padding: 24px;
    max-width: 1500px;
    max-height: 90vh;
    display: none;
    opacity: 0;
    align-items: center;
}

.modal-edit-admin.show{
    display: block;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.modal-edit-admin .product{
    display: flex;
    position: relative;
    padding-top: 15px;
}

.modal-edit-admin .img-product,
.content-add-product .img-product{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    flex: 0 0 150px;
    overflow: hidden;
}

.modal-edit-admin .img-product .img-wrap,
.content-add-product .img-product .img-wrap{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.modal-edit-admin .img-product .img-wrap img,
.content-add-product .img-product .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal-edit-admin .product .product-info{
    padding-left: 10px;
    width: calc(100% - 150px);
    text-align: left;
    font-size: 18px;
}

.modal-edit-admin .information-product{
    max-height: 400px;
    overflow-y: auto;
    padding: 5px 0;
}

.modal-edit-admin #modal-edit-content{
    display: block;
    max-height: 600px;
    overflow-x: auto;
}

.modal-edit-admin fieldset div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-edit-admin fieldset div textarea{
    height: 250px;
}

.modal-edit-admin .modal-container .modal-close-btn{
    position: absolute;
    top: 10px;
    right: 30px;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.content-add-product .flex{
    gap: 10px;
}

.content-add-product .flex .form-group{
    flex: 1;
    padding-bottom: 10px;
}

.content-add-product .flex select{
    padding: 7px 10px;
    border: 1px solid #e5e5e5;
    outline: none;
}

.form-message{
    font-size: 14px;
    margin-top: 5px;
    padding: 10px 8px;
    background: hsla( 0, 84.2% ,60.2%, 0.15);
    display: none;
    margin-bottom: 10px;
}

.form-message.show-error{
    display: block;
    position: relative;
}

.form-message.show-success{
    display: block;
    position: relative;
    background: #d1fae5;
    color: #065f46;
}

.form-message p{
    font-size: 16px;
    color: hsl(0 84.2% 60.2%);
}

.form-message.show-success p{
    color: #065f46;
}

.table-data tr td .status{
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
}

.table-data tr td .status.message-success{
    background: #d1fae5;
    color: #065f46;
}

.table-data tr td .status.message-error{
    background: #fee2e2;
    color: #b91c1c;
}

.modal-edit-admin .modal-header{
    text-align: center;
    font-size: 1.125em;
    letter-spacing: -0.025em;
    font-weight: 600;
}

.modal-edit-admin table .product{
    padding: 0;
}

.modal-edit-admin .modal-footer .summary-total{
    max-width: 800px;
}

.summary-total select#status-payment ,
.summary-total select#status-order {
    padding: 7px 10px;
    border: 1px solid #e5e5e5;
    outline: none;
    max-width: 250px;
    background: #fee2e2;
    color: #b91c1c;
}
.summary-total select#status-payment:disabled,
.summary-total select#status-order:disabled{
    background: #d1fae5;
    color: #065f46;
}

.product-order .list-product-order{
    position: relative;
    width: 600px;
    max-height: 400px;
    overflow-x: auto;
}

.modal-edit-admin .button-group{
    margin: 10px 0;
}

.admin-container .section-user,
.admin-container .section-admin{
    padding: 10px 0;
}

/* Dashboard overview */

.overview-body{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-left: -15px;
}

.overview-card{
    margin-bottom: 15px;
    padding-left: 15px;
    position: relative;
    /*min-width: 300px;*/
}

.card-block{
    border-radius: 5px;
    padding: 10px 5px;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.card-block .card-body{
    display: flex;
    padding: 10px 0;
    flex-direction: row;
}

.card-block .card-body .detail{
    flex: 1;
    padding-left: 5px;
    overflow-x: hidden;
}

.card-block .card-body .detail p{
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: #333333;
}

.card-block .card-body .number{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

hr{
    margin: 0;
    border: none;
    border-top: 2px solid #ebebef;
}

.stats{
    padding: 10px 0;
    color: #333333;
}

.stats i{
    color: #7b7b7b;
    padding-right: 5px;
}

.card-body .icon-item{
    flex: 0 0 100px;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card-body .icon-item i{
    font-size: 50px;
    font-weight: 600;
}

.overview-header{
    padding-bottom: 10px;
}

/*Statistical chart*/
.dashboard .chart{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.dashboard .chart .order-chart,
.dashboard .chart .revenue-chart{

    padding-left: 15px;
    margin-bottom: 15px;
    position: relative;
}

.dashboard .chart .block-chart{
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.dashboard .chart canvas{
    width: 100% !important;
    height: 100% !important;
}


@media (min-width: 1200px) {
    .template-admin .container{
        max-width: none;
    }

    .overview-card{
        width: 33.3333333%;
    }

    .dashboard .chart .order-chart,
    .dashboard .chart .revenue-chart{
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .overview-card {
        width: 33.3333333%;
    }

    .dashboard .chart .order-chart,
    .dashboard .chart .revenue-chart{
        width: 100%;
    }

    .dashboard .chart .revenue-chart{
        margin-bottom: 0;
    }
}
@media (min-width: 776px) and (max-width: 991px) {
    .overview-card {
        width: 50%;
    }

    .dashboard .chart .order-chart,
    .dashboard .chart .revenue-chart{
        width: 100%;
    }

    .dashboard .chart .revenue-chart{
        margin-bottom: 0;
    }
}

@media (max-width: 775px) {
    .overview-card {
        width: 100%;
    }

    .dashboard .chart .order-chart,
    .dashboard .chart .revenue-chart{
        width: 100%;
    }

    .dashboard .chart .revenue-chart{
        margin-bottom: 0;
    }
}